<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.jce.sena.ejemplo1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Proyecto001Activity"
            android:label="Saludo!" />
        <activity
            android:name=".Proyecto002Activity"
            android:label="Suma de dos números" />
        <activity
            android:name=".Proyecto003Activity"
            android:label="Implementación RadioButton" />
        <activity
            android:name=".Proyecto004Activity"
            android:label="Implementación CheckBox" />
        <activity
            android:name=".Proyecto005Activity"
            android:label="Implementación Spinner" />
        <activity
            android:name=".Proyecto006Activity"
            android:label="Implementación ListView" />
    </application>

</manifest>
